@model Employee
@{
	ViewData["Title"] = "Create Employee";
}

<h1>Create New Employee</h1>

<br />
<br />

<form action="/Employee/Create" method="post">

	<partial name="PartialViews/CreateEditEmployeePartial" />

	<input type="submit" value="Create" class="btn btn-primary" />
	<a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section validationScriptsSection {
	<partial name="_ValidationScriptsPartial" />
}