@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employeee</h1>

<form asp-action="Edit">

	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<partial name="PartialViews/CreateEditEmployeePartial" />


	<input type="submit" value="Save" class="btn btn-primary" />
	<a asp-controller="Employee" asp-action="Index" class="btn btn-light">Cancel</a>

</form>

@section validationScriptsSection {
	<partial name="_ValidationScriptsPartial" />
}