@model Department
@{
	ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>

<br />
<br />

<form action="/Department/Create" method="post">

	<partial name="PartialViews/CreateEditDepartmentPartial" />

	<input type="submit" value="Create" class="btn btn-primary" />
	<a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section validationScriptsSection {
	<partial name="_ValidationScriptsPartial" />
}
