@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>

<form asp-action="Edit">

	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<partial name="PartialViews/CreateEditDepartmentPartial" />

	<input type="submit" value="Save" class="btn btn-primary" />
	<a asp-controller="Department" asp-action="Index" class="btn btn-light">Cancel</a>

</form>

@section validationScriptsSection {
	<partial name="_ValidationScriptsPartial" />
}